<section class="row">
  <article class="column">

      <%= @svg %>

  </article>
</section>

<section class="row">
  <article class="column">
    <h2>Resources</h2>
    <ul>
      <li>
        Data is sourced from <a href="https://covidtracking.com/" alt="COVID Tracking Project">The COVID Tracking Project.</a>
      </li>
    </ul>
  </article>
</section>
